#ARCHIVO DE EJEMPLO, USTEDES DEBEN HACER UN .env CON SUS DATOS REALES, Y NO SUBIRLO A GITHUB, 
#YA QUE CONTIENE INFORMACION SENSIBLE COMO LA CONTRASEÑA DE LA BASE DE DATOS.

DB_HOST=peguen_su_host_aqui
DB_PORT=peguen_su_puerto_aqui
DB_USER=peguen_su_usuario_aqui
DB_PASSWORD=peguen_su_contraseña_aqui
DB_NAME=peguen_el_nombre_de_base_de_datos_aqui

#Equipo, recuerden que tienen que cambiar la contraseña de la 
#base de datos en el archivo .env para que funcione correctamente.

#En este archivo estan ejemplos de lo que se tiene que poner en el archivo .env, 
#pero recuerden que no deben subir este archivo a GitHub, ya que contiene información 
#sensible como la contraseña de la base de datos.

#Siempre asegurense que el archivo .env que ustedes hagan este en el .gitignore. Gracias
